body { padding-top: 60px; 
}
section {
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: calc(100% - 60px);
}
html, body {
    height: 100%;
    background: url("") no-repeat fixed center center / cover transparent;
}
#section1 {
    background-color: #214559;
    color: #DEDEFF;
}
#section2 {
    background-color: #A6C0CF;
    color: #000;
}
#section3 {
    background-color: #3E4144;
    color: #DEDEFF;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.v-center {
    padding-top: 10%;
    font-size: 70px;
}
div.question-tabs {
    margin-top: 16px;
}
ul.questions {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.question-tabs ul.questions {
    margin: 0px;
    border-top: none;
}
ul.questions li.question {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.questions li.question:hover {
    background-color: #f0f0f0;
}
div.question-date {
    float: right;
}
div.question-author {
    font-weight: bold;
}
div.question-thumbnail {
    position: absolute;
}
div.question-content {
    margin-left: 32px;
    min-height: 48px;
    margin-right: 32px;
}
div.question-footer {
    text-align: right;
}
ul.answers {
    list-style-type: none;
    padding: 0px;
    margin: 16px 16px 0px 0px;
    bborder-top: 1px solid #e0e0e0;
}
ul.answers li.answer {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.answers li.answer:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.answers li.answer:hover {
    background-color: #f0f0f0;
}
div.answer-date {
    float: right;
}
div.answer-author {
    font-weight: bold;
}
div.answer-thumbnail {
    position: absolute;
}
div.answer-content {
    margin-left: 48px;
    min-height: 48px;
    margin-right: 16px;
}
div.answer-form {
    margin: 36px 16px 16px 32px;
}

div.question-form {
    margin: 36px 32px 32px 32px;
}

h0 {
    font-size: 160%;
}

h1 {
    font-size: 140%;
}
h2 {
    font-size: 130%;
}
h3 {
    font-size: 120%;
}